@font-face {
  font-family: plus-jakarta-sans;
  src: url(styles/fonts/PlusJakartaSans-Regular.ttf);
}

.app {
  font-family: plus-jakarta-sans;
}

.MuiMobileStepper-root button {
  font-weight: bold;
  width: 10%;
}

.MuiDialog-root {
  background-color: rgba(255, 255, 255, 0.1);
}

.MuiTextField-root {
  height: 35%;
  width: 35%;
}

.MuiTextField-root input {
  font-weight: bold;
  font-size: 20px;
}

.MuiTextField-root textarea {
  padding-bottom: 15%;
  overflow: auto;
  font-weight: bold;
  font-size: 20px;
  max-height: 0;
}

.MuiTextField-root label {
  font-weight: bold;
  font-size: 18px;
}

h1 {
  font-size: 25px;
}

.header {
  padding: 15px 0 25px 25px;
  overflow: hidden;
  color: #179fe8;
}

.header-title {
  float: left;
  font-weight: bold;
}

.header-menu {
  float: right;
  margin-right: 3%;
  list-style: none;
  text-align: right;
}

li {
  display: inline;
  margin-right: 30px;
  margin: 0 20px;
}

.event-list-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 1%;
  max-width: 100%;
  margin-top: -55px;
  gap: 35px;
}

.pin-container {
  float: right;
}

.stepper-container {
  margin-top: 2%;
  width: 60%;
}

.stepper-title {
  margin-top: 2%;
  letter-spacing: 1px;
}

.stepper-title p {
  margin-top: -1.5%;
  padding-bottom: 5%;
  font-weight: bold;
  font-size: 18px;
  color: #999;
}

.form-container {
  height: 285px;
}

.button-container {
  margin-top: 18%;
}

.login-container {
  height: 350px;
  width: 400px;
  background-color: #f7f7f7;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-icon-wrapper {
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
}

.user-icon-wrapper :hover {
  box-shadow: none;
}

.user-icon {
  margin-top: 50px;
  width: 150px;
}

.user-icon :hover {
  box-shadow: none;
}

.google-btn-wrapper :hover {
  box-shadow: 0 0 5px #4285f4;
  cursor: pointer;
}

.google-btn {
  margin-top: 50px;
  height: 50px;
  width: 240px;
  background-color: #4285f4;
  border: none;
  border-radius: 1px;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.21px;
}

.google-icon-wrapper {
  float: left;
  margin-left: -5px;
  height: 48px;
  width: 48px;
  background-color: white;
  border-radius: 1px;
}

.google-icon-wrapper :hover {
  box-shadow: none;
}

.google-icon {
  position: relative;
  top: 25%;
  margin: 0;
}
