@font-face {
  font-family: plus-jakarta-sans;
  src: url(fonts/PlusJakartaSans-Regular.ttf);
}

.app {
  font-family: plus-jakarta-sans;
}

.MuiMobileStepper-root button {
  font-weight: bold;
  width: 10%;
}

.MuiDialog-root {
  background-color: rgba(255,255,255, 0.1);
}

.MuiTextField-root {
  height: 35%;
  width: 35%;
}

.MuiTextField-root input {
  font-weight: bold;
  font-size: 20px;
}

.MuiTextField-root textarea {
  padding-bottom: 15%;
  overflow: auto;
  font-weight: bold;
  font-size: 20px;
  max-height: 0;
}

.MuiTextField-root label {
  font-weight: bold;
  font-size: 18px;
}

h1 {
  font-size: 25px;
}

.header {
  padding: 15px 0 25px 25px;
  overflow: hidden;
  color: #179fe8;
}

.header-title {
  float: left;
  font-weight: bold;
}

.header-menu {
  float: right;
  margin-right: 3%;
  list-style: none;
  text-align: right;
}

li {
  display: inline;
  margin-right: 30px;
  margin: 0 20px;
}

.event-list-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin-top: 35px;
  gap: 35px;
}

.stepper-container {
  margin-top: 2%;
  width: 60%;
}

.stepper-title {
  margin-top: 2%;
  letter-spacing: 1px;
}

.stepper-title p {
  margin-top: -1.5%;
  padding-bottom: 5%;
  font-weight: bold;
  font-size: 18px;
  color: #999;
}

.form-container {
  height: 285px;
}

.button-container {
  margin-top: 18%;
}
